<!doctype.html>
<html>
<head>
	    <meta charset="utf-8">

    <title>Dashboard</title>
    <meta name="description" content="INSERT SITE DESCRIPTION HERE">
    <meta name="author" content="INSERT CONTENT HERE">

<!-- technically this should be served by flask  -->
    <link rel="stylesheet" href="static/css/styles.css?v=1.0"> 

                <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
                    <![endif]-->

                    <!-- Bootstrap stuff -->
                    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

                    <!-- Latest compiled JavaScript, JQuery and Popper.js -->

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

                    <!-- So it works on mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1">


                    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <!-- flickity -->
    <!-- CSS -->
	<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
	<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>


	<style>
		.carousel-cell {
		  width: auto; /* full width */
		  height: 100%; /* height of carousel */
		  margin-right: 20px;
		}

        .graph {
            min-height: 260px;
        }
	</style>
</head>
<body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-black" href="/#ticker">Ticker</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" href="/#stocks">Stocks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" href="/#ta">Technical Analysis</a>
                </li>
				<li class="nav-item">
                    <a class="nav-link text-black" href="/sector">Sectoral Overview</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link text-black dropdown-toggle" href="#" id="navbar-dropdown" role="button" data-toggle="dropdown">Company Analyses</a>
                    <div class="dropdown-menu">
                    	<a class="dropdown-item" href='/company/amazon'>Amazon</a>
                    	<a class="dropdown-item" href='/company/walmart'>Walmart</a>
                    	<a class="dropdown-item" href='/company/jd'>JD.com</a>
                    	<a class="dropdown-item" href='/company/alibaba'>Alibaba</a>
                    	<a class="dropdown-item" href='/company/ebay'>eBay</a>
                    </div>
                </li>               
                <li class="nav-item">
                    <a class="nav-link text-black" href="/predictions">Predictive Analytics</a>
                </li>
                
            </ul>
        </div>
	</nav>

    <div class="container">
        <h1>About</h1>
        {%block about %}{%endblock%}
    </div>
    {% block data %}
    <div class="container">
            <h1> Earnings </h1>
            <div class="row">
            <div id="earnings-graph-quarterly" class="col-md-6 graph">
            </div>
            <div id="earnings-graph-yearly" class="col-md-6 graph">
            </div>
        </div>
    </div>

    <div class="container">
        <h1> Revenue</h1>
        <h4>(in billions)</h4>
            <div class="row">
            <div id="revenue-graph-quarterly" class="col-md-6 graph">
            </div>
            <div id="revenue-graph-yearly" class="col-md-6 graph">
            </div>
        </div>
    </div>
        <div class="container">
        <h1> EPS</h1>
            <div class="row">
            <div id="eps" class="col-md-12 graph">
            </div>
        </div>
    </div>
    <div class="container">
        <h1>Current Ratio</h1>
            <div class="row">
            <div id="current-ratio" class="col-md-12 graph">
            </div>
        </div>
    </div>

    <div class="container">
        <h1>RoE</h1>
            <div class="row">
            <div id="roe" class="col-md-12 graph">
            </div>
        </div>
    </div>
    <div class="container">
        <h1>RoI</h1>
            <div class="row">
            <div id="roi" class="col-md-12 graph">
            </div>
        </div>
    </div>
    <div class="container">
        <h1>Debt/Equity Ratio</h1>
            <div class="row">
            <div id="debt-equity-ratio" class="col-md-12 graph">
            </div>
        </div>
    </div>
        <div class="container">
        <h1>EBITDA</h1>
        <h4>(in millions)</h4>
            <div class="row">
            <div id="ebitda" class="col-md-12 graph">
            </div>
        </div>
    </div>
    {% endblock %}

    {% block content %}
    {% endblock %}

</body>

<footer>
    
    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
        <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    {% block plotly_js %}
    <script type="text/javascript">
        // var graphs = {{ graphJSON | safe }};
        // var ids = {{ ids | safe }};

        // for (var i in graphs) {
        //  Plotly.plot(ids[i], // The id of the div created above)
        //              graphs[i].data,
        //              graphs[i].layout || {}
        //  );
        // }
        // $(
        //     $.ajax({
        //         url: "/api/data",
        //         type: "GET",
        //         contentType: 'application/json;charset=UTF-8',
        //         dataType: "json",
        //         success: function(res) {
        //             console.log(res);
        //             var trace = [{"data": [{"open": [172.6, 170.35, 170.75, 169.6, 169.85, 169.5, 169.45, 169.4, 170.4, 169.85, 169.4, 170.0, 170.0, 169.5, 168.65, 168.85, 168.65, 168.8, 168.4, 168.35, 168.5, 168.25, 168.45, 168.4, 168.4, 172.6, 173.05, 174.2, 174.3, 174.5, 173.8, 173.45, 173.5, 173.55, 173.65, 173.85, 173.9, 173.7, 173.35, 174.05, 173.8, 173.6, 173.6, 173.65, 173.45, 171.75, 170.75, 170.0, 169.7, 169.7], "high": [172.75, 170.95, 170.8, 170.15, 169.85, 169.6, 169.85, 170.7, 170.5, 169.85, 170.5, 170.4, 170.15, 169.6, 169.3, 168.95, 168.95, 168.85, 168.45, 169.15, 168.6, 168.75, 168.7, 168.8, 169.5, 173.75, 174.5, 175.1, 174.95, 174.6, 174.3, 173.8, 174.45, 173.95, 174.25, 174.5, 174.0, 173.7, 174.1, 174.1, 173.95, 173.75, 173.9, 173.85, 173.6, 172.0, 171.1, 170.35, 170.2, 170.5], "low": [169.9, 169.35, 169.15, 169.3, 168.5, 168.9, 169.1, 169.2, 169.55, 169.1, 169.3, 169.6, 169.4, 168.3, 168.5, 168.35, 168.3, 168.1, 168.0, 168.3, 168.05, 168.15, 168.35, 168.35, 168.3, 171.8, 172.8, 174.0, 174.0, 173.4, 173.4, 173.0, 173.45, 173.5, 173.6, 173.8, 173.5, 173.2, 173.3, 173.7, 173.55, 173.45, 173.35, 173.45, 170.55, 169.85, 169.25, 169.5, 168.55, 169.55], "close": [170.45, 170.7, 169.65, 169.85, 169.5, 169.45, 169.5, 170.3, 169.8, 169.4, 169.95, 170.0, 169.45, 168.5, 168.9, 168.75, 168.8, 168.3, 168.3, 168.6, 168.25, 168.5, 168.6, 168.4, 169.0, 173.0, 174.2, 174.4, 174.5, 173.85, 173.45, 173.55, 173.55, 173.6, 174.0, 173.95, 173.7, 173.35, 174.05, 173.85, 173.55, 173.7, 173.75, 173.5, 171.45, 170.8, 170.0, 169.7, 169.55, 170.1], "type": "candlestick", "x": ["2020-02-10T09:15:00+05:30", "2020-02-10T09:30:00+05:30", "2020-02-10T09:45:00+05:30", "2020-02-10T10:00:00+05:30", "2020-02-10T10:15:00+05:30", "2020-02-10T10:30:00+05:30", "2020-02-10T10:45:00+05:30", "2020-02-10T11:00:00+05:30", "2020-02-10T11:15:00+05:30", "2020-02-10T11:30:00+05:30", "2020-02-10T11:45:00+05:30", "2020-02-10T12:00:00+05:30", "2020-02-10T12:15:00+05:30", "2020-02-10T12:30:00+05:30", "2020-02-10T12:45:00+05:30", "2020-02-10T13:00:00+05:30", "2020-02-10T13:15:00+05:30", "2020-02-10T13:30:00+05:30", "2020-02-10T13:45:00+05:30", "2020-02-10T14:00:00+05:30", "2020-02-10T14:15:00+05:30", "2020-02-10T14:30:00+05:30", "2020-02-10T14:45:00+05:30", "2020-02-10T15:00:00+05:30", "2020-02-10T15:15:00+05:30", "2020-02-11T09:15:00+05:30", "2020-02-11T09:30:00+05:30", "2020-02-11T09:45:00+05:30", "2020-02-11T10:00:00+05:30", "2020-02-11T10:15:00+05:30", "2020-02-11T10:30:00+05:30", "2020-02-11T10:45:00+05:30", "2020-02-11T11:00:00+05:30", "2020-02-11T11:15:00+05:30", "2020-02-11T11:30:00+05:30", "2020-02-11T11:45:00+05:30", "2020-02-11T12:00:00+05:30", "2020-02-11T12:15:00+05:30", "2020-02-11T12:30:00+05:30", "2020-02-11T12:45:00+05:30", "2020-02-11T13:00:00+05:30", "2020-02-11T13:15:00+05:30", "2020-02-11T13:30:00+05:30", "2020-02-11T13:45:00+05:30", "2020-02-11T14:00:00+05:30", "2020-02-11T14:15:00+05:30", "2020-02-11T14:30:00+05:30", "2020-02-11T14:45:00+05:30", "2020-02-11T15:00:00+05:30", "2020-02-11T15:15:00+05:30"], "xaxis": "x", "yaxis": "y", "decreasing": {"line": {"color": "#7F7F7F"}}, "increasing": {"line": {"color": "#17BECF"}}, "line": {"color": "rgba(31,119,180,1)"}}], "layout": {}}]
        //             var data = [trace[0]['data'][0], ]
        //             Plotly.newPlot("basic-plot", data, {});
        //         }

        //     })
        // );
    </script>
    {% endblock %}
</footer>
</html>