{% extends "base.html" %}

{% block content %}
	<div class="container">
		<h1>About</h1>
		<p>{{ info }}</p>
	</div>

	<div class="container">
		<h1> Earnings </h1>
			<div class="row">
			<div id="earnings-graph-quarterly" class="col-md-6 graph">
			</div>
			<div id="earnings-graph-yearly" class="col-md-6 graph">
			</div>
		</div>
	</div>

	<div class="container">
		<h1> Revenue (in B)</h1>
			<div class="row">
			<div id="revenue-graph-quarterly" class="col-md-6 graph">
			</div>
			<div id="revenue-graph-yearly" class="col-md-6 graph">
			</div>
		</div>
	</div>
{% endblock %}

{% block plotly_js %}
<script type="text/javascript">
	var earnings_quarterly = function() {
		var earnings_graph = {{ earnings_quarterly | safe }};
		console.log(earnings_graph);
		data = [earnings_graph['trace1'], earnings_graph['trace2'], earnings_graph['trace3']];
		Plotly.plot('earnings-graph-quarterly', data, layout=earnings_graph['layout']);
	};

	var earnings_yearly = function() {
		var earnings_graph = {{ earnings_yearly | safe }};
		console.log(earnings_graph);
		data = [earnings_graph['trace1'], earnings_graph['trace2'], earnings_graph['trace3']];
		Plotly.plot('earnings-graph-yearly', data, layout=earnings_graph['layout']);
	};

	var revenue_quarterly = function() {
		var revenue_graph = {{ revenue_quarterly | safe }};
		console.log(revenue_graph);
		data = [revenue_graph['trace1'], revenue_graph['trace2'], revenue_graph['trace3']];
		Plotly.plot('revenue-graph-quarterly', data, layout=revenue_graph['layout']);
	};

	var revenue_yearly = function() {
		var revenue_graph = {{ revenue_yearly | safe }};
		console.log(revenue_graph);
		data = [revenue_graph['trace1'], revenue_graph['trace2'], revenue_graph['trace3']];
		Plotly.plot('revenue-graph-yearly', data, layout=revenue_graph['layout']);
	};



	earnings_quarterly();
	earnings_yearly();
	revenue_quarterly();
	revenue_yearly();


</script>
{% endblock %}