{% extends "base.html" %}

{% block data %}
{% endblock %}
	{% block content %}

	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<!-- TradingView Widget BEGIN -->
				<div class="tradingview-widget-container">
				  <div id="tradingview_24ace"></div>
				  <div class="tradingview-widget-copyright"><a href="https://in.tradingview.com/symbols/BSE-JUSTDIAL/" rel="noopener" target="_blank"><span class="blue-text">JUSTDIAL Chart</span></a> by TradingView</div>
				  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
				  <script type="text/javascript">
				  new TradingView.widget(
				  {
				  "width": 980,
				  "height": 610,
				  "symbol": "BSE:JUSTDIAL",
				  "interval": "1",
				  "timezone": "Etc/UTC",
				  "theme": "Light",
				  "style": "1",
				  "locale": "in",
				  "toolbar_bg": "#f1f3f6",
				  "enable_publishing": false,
				  "allow_symbol_change": true,
				  "container_id": "tradingview_24ace"
				}
				  );
				  </script>
				</div>
<!-- TradingView Widget END -->

			</div>
		</div>

		<div class="row my-3" id="ticker">
			<div class="col-md-12">
				<!-- TradingView Widget BEGIN -->
				<div class="tradingview-widget-container">
				  <div class="tradingview-widget-container__widget"></div>
				  <div class="tradingview-widget-copyright"><a href="https://in.tradingview.com" rel="noopener" target="_blank"><span class="blue-text">Ticker Tape</span></a> by TradingView</div>
				  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
				  {
				  "symbols": [
				    {
				      "proName": "OANDA:NAS100USD",
				      "title": "Nasdaq 100"
				    },
				    {
				      "description": "NYSE",
				      "proName": "USI:TICK"
				    },
				    {
				      "description": "",
				      "proName": "BSE:SENSEX"
				    },
				    {
				      "description": "",
				      "proName": "NIFTY"
				    }
				  ],
				  "colorTheme": "light",
				  "isTransparent": false,
				  "displayMode": "adaptive",
				  "locale": "in"
				}
				  </script>
				</div>
				<!-- TradingView Widget END -->
			</div>
		</div>

		<div class="row my-3" id="stocks">
			<div class="col-md-4 col-lg-4">
			<!-- TradingView Widget BEGIN -->
			<div class="tradingview-widget-container">
			  <div id="tv-medium-widget"></div>
			  <div class="tradingview-widget-copyright"><a href="https://in.tradingview.com/symbols/AMZN/" rel="noopener" target="_blank"><span class="blue-text">AMZN</span></a>, <a href="https://in.tradingview.com/symbols/NYSE-WMT/" rel="noopener" target="_blank"><span class="blue-text">WMT</span></a> <span class="blue-text">and</span> <a href="https://in.tradingview.com/symbols/NYSE-BABA/" rel="noopener" target="_blank"><span class="blue-text">BABA Quotes</span></a> by TradingView</div>
			  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
			  <script type="text/javascript">
			  new TradingView.MediumWidget(
			  {
			  "container_id": "tv-medium-widget",
			  "symbols": [
			    "AMZN|12m",
			    "NYSE:WMT|12m",
			    "NYSE:BABA|12m",
			    "NASDAQ:JD|12m",
			    "EBAY|12m"
			  ],
			  "greyText": "Quotes by",
			  "gridLineColor": "#e9e9ea",
			  "fontColor": "#83888D",
			  "underLineColor": "#dbeffb",
			  "trendLineColor": "#4bafe9",
			  "width": "1000px",
			  "height": "400px",
			  "locale": "in"
			}
			  );
			  </script>
			</div>
			<!-- TradingView Widget END -->
			</div>
		</div>
	</div>

<!-- 
	<div class="container">

	<div class="container">
		{% for id in ids %}
			<h3>{{ id }}</h3>
			<div id="{{ id }}"></div>
		{% endfor %}
	</div>
-->
	<div class="container-fluid" id="ta">
		<div class="carousel" data-flickity='{ "contain": true }'>
			<div class="carousel-cell">
				<!-- TradingView Widget BEGIN -->
				<div class="tradingview-widget-container">
				  <div class="tradingview-widget-container__widget"></div>
				  <div class="tradingview-widget-copyright"><a href="https://in.tradingview.com/symbols/NASDAQ-AMZN/technicals/" rel="noopener" target="_blank"><span class="blue-text">Technical Analysis for AMZN</span></a> by TradingView</div>
				  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
				  {
				  "interval": "1m",
				  "width": 425,
				  "colorTheme": "light",
				  "isTransparent": false,
				  "height": 450,
				  "symbol": "NASDAQ:AMZN",
				  "showIntervalTabs": true,
				  "locale": "in"
				}
				  </script>
				</div>
				<!-- TradingView Widget END -->
			</div>
			<div class="carousel-cell">
				<!-- TradingView Widget BEGIN -->
				<div class="tradingview-widget-container">
				  <div class="tradingview-widget-container__widget"></div>
				  <div class="tradingview-widget-copyright"><a href="https://in.tradingview.com/symbols/NYSE-WMT/technicals/" rel="noopener" target="_blank"><span class="blue-text">Technical Analysis for WMT</span></a> by TradingView</div>
				  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
				  {
				  "interval": "1m",
				  "width": 425,
				  "colorTheme": "light",
				  "isTransparent": false,
				  "height": 450,
				  "symbol": "NYSE:WMT",
				  "showIntervalTabs": true,
				  "locale": "in"
				}
				  </script>
				</div>
				<!-- TradingView Widget END -->
			</div>
			<div class="carousel-cell">
				<div class="tradingview-widget-container">
				  <div class="tradingview-widget-container__widget"></div>
				  <div class="tradingview-widget-copyright"><a href="https://in.tradingview.com/symbols/NYSE-BABA/technicals/" rel="noopener" target="_blank"><span class="blue-text">Technical Analysis for BABA</span></a> by TradingView</div>
				  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
				  {
				  "interval": "1m",
				  "width": 425,
				  "colorTheme": "light",
				  "isTransparent": false,
				  "height": 450,
				  "symbol": "NYSE:BABA",
				  "showIntervalTabs": true,
				  "locale": "in"
				}
				  </script>
				</div>
				<!-- TradingView Widget END -->
			</div>
			<div class="carousel-cell">
				<!-- TradingView Widget BEGIN -->
				<div class="tradingview-widget-container">
				  <div class="tradingview-widget-container__widget"></div>
				  <div class="tradingview-widget-copyright"><a href="https://in.tradingview.com/symbols/NASDAQ-JD/technicals/" rel="noopener" target="_blank"><span class="blue-text">Technical Analysis for JD</span></a> by TradingView</div>
				  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
				  {
				  "interval": "1m",
				  "width": 425,
				  "colorTheme": "light",
				  "isTransparent": false,
				  "height": 450,
				  "symbol": "NASDAQ:JD",
				  "showIntervalTabs": true,
				  "locale": "in"
				}
				  </script>
				</div>
				<!-- TradingView Widget END -->
			</div>
			<div class="carousel-cell">
				<div class="tradingview-widget-container">

						<!-- TradingView Widget BEGIN -->
					<div class="tradingview-widget-container__widget"></div>
					  <div class="tradingview-widget-copyright"><a href="https://in.tradingview.com/symbols/EBAY/technicals/" rel="noopener" target="_blank"><span class="blue-text">Technical Analysis for EBAY</span></a> by TradingView</div>
					  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
					  {
					  "interval": "1m",
					  "width": 425,
					  "colorTheme": "light",
					  "isTransparent": false,
					  "height": 450,
					  "symbol": "EBAY",
					  "showIntervalTabs": true,
					  "locale": "in"
					  }
				</script>
						<!-- TradingView Widget END -->
			</div>
		</div>
	</div>
	<div class="container-fluid" id="plot-wrapper">
		<div id="basic-plot">
		</div>
	</div>
</body>
{% endblock %}
