{% extends "base.html" %}


{% block data %}
<div class="container">
	<h1>AMZN</h1>
	<div id="amzn" style="width: 100%"></div>
</div>
<div class="container">
	<h1>WMT</h1>
	<div id="wmt" style="width: 100%"></div>
</div>
<div class="container">
	<h1>EBAY</h1>
	<div id="ebay" style="width: 100%"></div>
</div>
<div class="container">
	<h1>BABA</h1>
	<div id="baba" style="width: 100%"></div>
</div>
<div class="container">
	<h1>JD</h1>
	<div id="jd" style="width: 100%"></div>
</div>
{% endblock %}
	
{% block about %}

{% endblock %}

{% block content %}
{% endblock %}

{% block plotly_js %}
<script type="text/javascript">

	var amzn = function() {
		var trace1 = {
			y: [1756.959961,1798.0,1815.300049,1841.949951,1851.689941,1858.880005,1841.0,1834.839966,1819.0,1840.0,1863.839966,1844.680054,1880.050049,1829.5,1801.8299559999998,1798.439941,1836.560059,1841.0,1847.77002,1869.719971,1891.5100100000002,1914.569946,1899.5,1925.0,1921.0100100000002,1916.209961,1905.0,1888.0,1891.75,1897.75,1905.800049,1919.5,1916.0100100000002,1927.699951,1941.780029,1998.689941,2025.569946,2022.380005,2050.5,2040.380005,2007.5,1975.199951,1973.040039,1988.880005,2000.0,2008.7600100000002,1993.6500239999998,1956.819946,1958.199951,1940.8299559999998,1955.0,1957.310059,1936.880005,1975.910034,1995.25,2016.160034,2026.52002,2033.189941,2013.390015,1989.699951,1956.0,1929.0799559999998,1902.0,1896.680054,1858.560059,1755.4000239999998,1808.949951,1795.050049,1823.880005,1845.0,1830.1500239999998,1809.0999760000002,1809.5,1776.339966,1777.709961,1794.810059,1698.459961,1665.73999,1540.98999,1623.910034,1670.449951,1697.439941,1658.089966,1665.0,1759.22998,1784.0,1743.9200440000002,1708.550049,1677.060059,1673.0,1624.819946,1614.47998,1581.189941,1534.75,1550.0,1536.199951,1584.810059,1597.650024,1681.449951,1689.9899899999998,1696.0,1778.339966,1770.339966,1701.050049,1718.930054,1657.98999,1679.469971,1704.9899899999998,1692.119995,1642.569946,1576.130005,1567.550049,1584.530029,1509.5,1480.0,1396.030029,1473.160034,1469.0,1513.469971,1520.76001,1553.359985,1538.0,1594.0,1634.560059,1676.609985,1667.800049,1663.25,1660.290039,1648.199951,1675.160034,1705.0,1700.1700440000002,1716.199951,1681.869995,1657.430054,1657.26001,1683.47998,1645.0,1632.380005,1676.949951,1736.410034,1673.060059,1649.630005,1665.26001,1672.26001,1625.540039,1588.589966,1609.290039,1639.400024,1656.380005,1637.900024,1628.910034,1634.0,1634.930054,1623.560059,1634.939941,1654.599976,1639.98999,1641.810059,1651.77002,1674.26001,1709.430054,1707.800049,1697.75,1669.75,1622.719971,1672.290039,1684.27002,1700.0,1702.0,1718.800049,1750.0,1784.160034,1799.5,1823.75,1818.97998,1782.680054,1805.77002,1787.5,1777.930054,1792.859985,1815.6700440000002,1820.0,1830.0,1828.75,1838.5799559999998,1850.199951,1853.089966,1848.0,1849.949951,1851.5,1846.8499760000002,1869.77002,1876.469971,1870.819946,1888.4200440000002,1929.2600100000002,1929.689941,1922.449951,1951.0,1956.339966,1935.709961,1943.640015,1921.550049,1964.4000239999998,1959.0,1949.0999760000002,1935.369995,1909.4000239999998,1903.790039,1846.540039,1852.439941,1874.430054,1917.5100100000002,1910.530029,1867.780029,1879.0,1871.4899899999998,1844.0,1841.7600100000002,1849.27002,1830.0,1829.469971,1795.589966,1766.290039,1730.819946,1752.0,1760.0,1806.25,1884.869995,1893.699951,1865.0,1883.089966,1876.0,1895.689941,1921.6700440000002,1919.5799559999998,1935.199951,1925.949951,1916.859985,1916.390015,1903.800049,1911.2399899999998,1912.939941,1929.819946,1934.790039,1941.589966,1945.9000239999998,1956.0,1990.0100100000002,2024.939941,2035.800049,2017.0,2022.9000239999998,2026.319946,2012.0,1987.5,1996.0,1989.0,1997.790039,2001.300049,2001.199951,1950.9000239999998,1932.22998,1909.890015,1899.550049,1897.9200440000002,1846.359985,1788.6700440000002,1793.77002,1798.930054,1834.2600100000002,1831.089966,1800.97998,1831.7399899999998,1795.6500239999998,1788.0,1802.910034,1826.0,1816.819946,1829.5799559999998,1829.410034,1804.9000239999998,1770.0,1779.4000239999998,1767.859985,1798.550049,1799.7399899999998,1800.800049,1807.630005,1842.0,1840.6500239999998,1850.0,1825.810059,1833.4200440000002,1853.660034,1846.119995,1825.689941,1823.9899899999998,1822.060059,1832.569946,1830.630005,1792.699951,1795.709961,1773.0,1763.369995,1749.119995,1737.459961,1755.5999760000002,1728.890015,1725.0,1740.5799559999998,1747.8299559999998,1727.0,1729.949951,1738.290039,1745.449951,1741.890015,1776.449951,1786.2399899999998,1798.8499760000002,1793.97998,1785.880005,1789.780029,1770.050049,1788.339966,1764.209961,1778.699951,1777.0,1782.380005,1792.0,1797.449951,1815.060059,1810.25,1802.5,1805.9000239999998,1789.880005,1780.0,1786.219971,1775.0,1766.589966,1761.680054,1753.699951,1760.680054,1762.52002,1746.869995,1746.430054,1777.4200440000002,1797.030029,1824.5,1824.689941,1805.550049,1772.869995,1789.089966,1763.5,1754.4000239999998,1766.890015,1750.6700440000002,1750.0,1764.0,1768.9899899999998,1769.5,1792.0,1798.199951,1792.9899899999998,1802.969971,1793.0,1795.569946,1870.459961,1901.4000239999998,1884.0,1853.2600100000002,1898.0100100000002,1886.199951,1903.689941,1913.890015,1911.0,1917.819946,1906.939941,1898.0,1887.109985,1878.859985,1885.589966,1886.640015,1894.27002,1902.5,1889.97998,1894.9899899999998,1841.0,1858.109985,1874.75,1872.869995,2055.719971,2048.5,2059.800049,2071.02002,2056.300049,2098.530029,2135.600098,2185.949951],
			name: 'AMZN',
			type: 'scatter',
			mode: 'lines'
		}
		data = [trace1];

		Plotly.plot('amzn', data, {});
	}

	var wmt = function() {
		var trace1 = {
			
			y: [87.150002,87.410004,87.989998,87.720001,88.699997,89.190002,88.480003,88.16999799999999,88.150002,88.5,88.019997,89.43,88.879997,88.940002,89.660004,89.129997,88.839996,90.279999,89.980003,90.360001,90.230003,89.629997,90.370003,90.540001,91.120003,90.410004,100.209999,99.66999799999999,98.290001,96.360001,96.849998,95.860001,95.660004,95.610001,96.349998,96.83000200000001,96.5,96.440002,96.269997,96.83000200000001,96.720001,96.480003,97.190002,97.660004,96.739998,95.620003,94.839996,95.480003,95.589996,95.889999,95.790001,96.290001,96.0,96.519997,95.589996,94.959999,94.370003,94.660004,95.610001,95.540001,94.5,94.190002,94.93,97.739998,97.849998,96.290001,95.16999799999999,94.989998,96.07,96.620003,97.25,97.650002,97.58000200000001,97.989998,99.16999799999999,99.480003,99.66999799999999,101.730003,102.599998,102.489998,101.16999799999999,101.57,103.16999799999999,103.440002,104.470001,105.260002,105.900002,106.209999,104.150002,103.150002,102.800003,99.41999799999999,98.25,95.199997,94.91999799999999,95.550003,96.07,95.540001,97.620003,97.83000200000001,98.43,99.589996,98.959999,95.410004,95.129997,94.25,94.489998,94.300003,93.68,92.559998,92.010002,91.260002,93.0,90.110001,89.470001,87.57,90.41999799999999,91.610001,93.470001,93.389999,93.650002,94.709999,93.660004,95.16999799999999,95.760002,96.139999,94.980003,95.290001,95.449997,96.599998,96.860001,97.209999,98.199997,98.43,99.349998,98.459999,98.910004,97.07,97.160004,96.800003,96.870003,96.0,94.769997,95.940002,96.010002,96.82,96.690002,96.349998,97.16999799999999,98.0,99.199997,100.0,104.18,102.339996,99.91999799999999,100.160004,100.129997,99.059998,98.389999,99.470001,99.559998,98.589996,99.190002,99.0,98.199997,98.41999799999999,98.58000200000001,98.739998,99.349998,98.43,98.510002,99.769997,100.489998,99.550003,99.129997,99.529999,98.620003,98.849998,98.860001,97.870003,97.66999799999999,98.360001,98.309998,97.400002,98.279999,99.199997,99.25,99.230003,99.720001,100.83000200000001,102.019997,102.910004,103.389999,103.400002,103.800003,103.540001,103.290001,103.849998,104.150002,102.339996,102.0,102.91999799999999,102.809998,102.059998,102.75,102.550003,102.16999799999999,101.040001,99.940002,102.110001,101.150002,100.870003,100.360001,103.959999,101.949997,101.980003,101.650002,102.43,101.93,102.889999,103.57,102.879997,103.489998,102.019997,102.68,102.650002,104.779999,105.660004,106.360001,107.779999,108.970001,108.910004,109.58000200000001,109.589996,109.550003,109.959999,109.839996,110.489998,112.190002,112.220001,111.43,111.08000200000001,110.510002,111.510002,111.970001,111.610001,112.400002,112.239998,112.93,113.379997,113.610001,113.940002,114.769997,115.08000200000001,115.489998,115.16999799999999,114.779999,115.309998,114.339996,113.199997,112.790001,112.389999,113.339996,112.980003,112.400002,112.339996,112.16999799999999,110.139999,108.0,107.839996,108.639999,108.839996,108.459999,106.839996,108.110001,108.059998,113.639999,114.93,114.779999,114.040001,114.07,112.790001,111.910004,112.269997,112.809998,113.08000200000001,114.589996,115.379997,115.309998,115.959999,117.959999,115.75,116.610001,116.959999,116.699997,117.07,118.190002,117.16999799999999,116.690002,117.230003,117.809998,117.639999,118.410004,119.860001,118.720001,119.550003,119.230003,119.440002,119.110001,117.550003,116.800003,118.300003,118.300003,118.66999799999999,119.300003,119.879997,120.709999,120.459999,119.989998,120.110001,120.25,120.599998,119.83000200000001,120.16999799999999,119.849998,119.57,119.33000200000001,119.699997,118.730003,118.370003,118.279999,117.970001,119.110001,119.139999,119.620003,120.91999799999999,120.879997,119.629997,120.0,121.360001,125.379997,121.0,120.870003,120.360001,120.480003,120.0,120.300003,120.019997,119.300003,119.800003,119.970001,119.379997,118.959999,119.199997,118.779999,119.800003,119.860001,119.559998,119.650002,120.110001,120.650002,121.349998,121.699997,121.68,120.510002,122.120003,120.690002,119.599998,119.849998,119.940002,119.809998,119.800003,119.889999,118.790001,118.089996,117.519997,116.730003,117.370003,117.339996,116.550003,116.209999,115.870003,115.93,116.300003,115.690002,116.529999,116.309998,116.029999,116.230003,116.900002,117.120003,116.720001,116.260002,115.389999,116.239998,116.949997,117.230003,116.760002,116.980003,115.5,116.41999799999999], // I got it in reverse
			name: 'WMT',
			type: 'scatter',
			mode: 'lines'
		}
		data = [trace1];

		Plotly.plot('wmt', data, {});
	}

	var ebay = function() {
		var trace1 = {
			
			y: [37.43,37.779999,37.669998,38.060001,38.150002,38.34,35.650002,34.91,34.150002,34.060001,34.040001000000004,34.639998999999996,34.84,33.959998999999996,33.959998999999996,33.450001,33.400002,33.720001,34.189999,34.209998999999996,33.950001,34.209998999999996,34.459998999999996,34.450001,34.73,34.099998,34.169998,34.259997999999996,34.34,34.869999,34.790001000000004,34.889998999999996,34.880001,34.790001000000004,34.790001000000004,35.290001000000004,34.990002000000004,35.060001,34.91,34.689999,34.32,34.02,34.200001,34.209998999999996,34.419998,34.849998,34.549999,34.389998999999996,34.540001000000004,34.369999,34.310001,34.459998999999996,33.950001,33.720001,34.099998,33.740002000000004,33.34,33.150002,32.779999,33.130001,32.93,32.73,33.049999,34.599998,33.18,31.799999,31.92,32.150002,32.34,32.389998999999996,31.99,29.58,28.91,28.360001,28.379998999999998,28.299999,27.92,27.799999,27.67,29.49,30.0,30.08,30.059998999999998,30.26,30.18,29.969998999999998,29.950001,29.700001,28.799999,28.34,28.469998999999998,28.35,28.33,28.629998999999998,28.76,29.049999,29.02,28.879998999999998,29.84,29.879998999999998,29.879998999999998,30.360001,30.33,29.540001,29.91,29.290001,29.549999,29.49,29.309998999999998,29.139999,29.0,28.780001000000002,29.23,28.52,28.34,26.92,27.879998999999998,28.040001,28.639999,28.5,28.959999,28.82,29.08,29.65,30.08,30.4,30.639999,30.540001,30.280001000000002,30.75,30.700001,30.549999,31.02,34.75,33.529999,32.860001000000004,33.759997999999996,34.23,34.43,34.32,33.990002000000004,34.48,35.200001,35.529999,35.709998999999996,35.389998999999996,35.32,35.900002,36.27,36.540001000000004,36.560001,36.830002,37.130001,37.25,37.130001,37.5,37.889998999999996,37.549999,38.02,37.5,39.139998999999996,37.580002,37.490002000000004,37.540001000000004,36.779999,36.02,36.34,36.490002000000004,36.740002000000004,36.619999,36.580002,36.580002,37.200001,36.91,37.389998999999996,37.439999,36.810001,37.09,37.09,37.43,37.169998,37.77,38.18,38.240002000000004,38.18,38.330002,37.990002000000004,37.860001000000004,37.860001000000004,37.630001,36.720001,36.470001,36.57,36.75,36.169998,36.23,36.790001000000004,38.740002000000004,38.509997999999996,38.490002000000004,38.380001,38.799999,38.939999,38.18,38.299999,38.060001,37.849998,37.740002000000004,37.849998,37.580002,36.740002000000004,37.259997999999996,37.18,37.639998999999996,37.27,36.950001,36.869999,36.59,36.290001000000004,36.380001,36.68,36.23,36.700001,36.139998999999996,36.09,36.810001,36.869999,36.82,38.0,38.400002,38.59,39.060001,39.439999,39.32,39.32,39.93,40.220001,40.549999,40.209998999999996,40.18,39.779999,39.369999,39.580002,39.560001,39.990002000000004,40.189999,40.23,40.0,39.799999,39.98,40.380001,39.939999,40.099998,40.32,40.169998,41.110001000000004,42.0,40.330002,41.07,41.16,41.18,41.150002,41.389998999999996,41.650002,41.5,41.540001000000004,41.990002000000004,40.959998999999996,40.16,39.73,39.810001,41.259997999999996,41.080002,40.049999,41.029999,40.380001,39.959998999999996,40.07,40.790001000000004,40.349998,40.529999,40.57,39.790001000000004,39.419998,39.759997999999996,40.259997999999996,40.810001,40.740002000000004,40.380001,39.880001,40.860001000000004,41.080002,41.41,41.189999,40.259997999999996,40.540001000000004,40.799999,40.389998999999996,40.66,40.619999,40.799999,40.869999,40.48,40.669998,39.5,39.48,38.889998999999996,39.049999,39.470001,38.57,38.049999,38.380001,38.189999,37.73,38.0,38.259997999999996,38.990002000000004,38.630001,39.040001000000004,39.189999,39.380001,39.349998,39.299999,39.360001000000004,39.330002,36.650002,36.0,36.25,36.27,36.189999,35.860001000000004,35.59,35.52,35.759997999999996,35.669998,35.619999,35.259997999999996,35.310001,35.369999,34.93,35.099998,35.580002,35.400002,35.41,35.25,35.150002,35.23,36.529999,35.900002,36.02,35.849998,35.619999,34.91,35.240002000000004,35.09,35.220001,34.919998,35.0,34.990002000000004,35.459998999999996,35.77,35.77,35.950001,35.919998,36.119999,36.34,36.490002000000004,36.279999,36.52,36.400002,36.209998999999996,36.119999,36.5,36.099998,35.82,35.700001,36.080002,35.450001,35.23,34.889998999999996,35.369999,35.720001,35.990002000000004,35.900002,35.860001000000004,36.07,35.98,35.790001000000004,35.740002000000004,36.450001,35.529999,35.139998999999996,35.029999,34.529999,39.25,37.450001,39.040001000000004,36.869999,36.23,36.669998,37.5], // I got it in reverse
			name: 'EBAY',
			type: 'scatter',
			mode: 'lines'
		}
		data = [trace1];

		Plotly.plot('ebay', data, {});
	}
	
	var baba = function() {
		var trace1 = {
			
			y: [190.050003,192.580002,192.119995,191.369995,192.949997,193.229996,189.679993,189.5,187.809998,193.070007,198.350006,196.119995,196.270004,190.58999599999999,188.94799799999998,189.059998,182.899994,184.5,180.860001,183.0,180.179993,180.630005,180.449997,180.649994,176.199997,169.850006,175.699997,174.199997,178.860001,179.669998,179.740005,186.5,176.369995,180.880005,182.380005,179.66000400000001,178.100006,176.681,173.949997,168.279999,166.479996,164.610001,160.720001,158.449997,162.820007,167.220001,168.0,161.649994,159.399994,163.130005,167.699997,169.83999599999999,163.399002,165.440002,167.389999,167.050003,165.66000400000001,165.949997,161.028,164.53999299999998,160.080002,157.119995,152.636002,150.58999599999999,144.0,142.91000400000001,149.0,145.690002,149.759995,150.679993,146.279999,146.770004,150.199997,147.509995,146.690002,144.91000400000001,145.828995,144.0,136.399994,142.649994,152.317993,154.360001,149.369995,149.96000700000002,152.800003,151.880005,145.720001,146.40600600000002,149.940002,152.149994,157.399994,155.800003,153.21000700000002,148.070007,151.479996,151.169998,156.529999,157.940002,159.800003,159.0,160.860001,168.800003,164.979996,155.869995,158.050003,152.809998,156.240005,156.169998,153.46000700000002,150.699997,147.940002,144.75,141.324997,137.755005,137.190002,134.570007,138.020004,138.449997,140.979996,142.020004,137.74899299999998,134.869995,141.080002,144.080002,147.550003,153.350006,152.029999,153.380005,150.570007,154.169998,155.389999,158.550003,159.490005,155.440002,155.179993,156.0,160.5,159.690002,160.375,167.83999599999999,169.729996,169.399994,167.550003,171.949997,173.08999599999999,169.610001,167.649994,170.330002,170.490005,171.050003,168.5,168.770004,171.149994,172.679993,171.779999,177.020004,183.720001,184.350006,184.929993,184.300003,186.899994,187.33999599999999,188.080002,185.58999599999999,181.800003,175.350006,181.720001,182.179993,182.53500400000001,180.820007,181.449997,182.889999,183.360001,181.949997,181.729996,180.479996,178.899994,180.649994,179.830002,178.529999,182.600006,185.559998,183.563004,180.699997,181.96000700000002,185.5,187.820007,187.889999,187.399994,186.059998,189.78999299999998,188.169998,185.78999299999998,188.199997,187.279999,186.470001,188.149994,186.899994,188.130005,188.740005,188.0,188.25,193.195007,192.699997,195.720001,189.0,186.449997,183.199997,180.695007,180.78999299999998,172.470001,175.149994,180.240005,178.25,172.28999299999998,164.570007,165.58999599999999,162.820007,158.479996,158.429993,157.070007,154.384995,153.369995,150.679993,151.770004,155.199997,156.110001,152.699997,155.690002,161.979996,165.679993,161.699997,161.320007,158.71000700000002,160.550003,169.110001,167.899994,170.479996,169.470993,168.880005,167.33999599999999,171.240005,171.979996,170.889999,177.949997,175.550003,175.850006,173.820007,170.279999,168.979996,171.369995,168.423996,170.199997,173.75,175.520004,176.220001,174.399994,175.149994,174.279999,178.639999,178.96000700000002,179.149994,179.399994,179.880005,175.71000700000002,174.889999,175.71499599999999,163.850006,157.229996,158.729996,159.479996,162.300003,161.990005,159.360001,167.360001,163.0,171.0,177.550003,178.800003,177.990005,178.5,174.979996,171.490005,167.449997,168.190002,168.0,173.96000700000002,175.25,174.720001,176.550003,178.949997,179.220001,177.990005,176.300003,176.66000400000001,180.5,180.179993,179.169998,179.119995,180.169998,184.130005,183.820007,181.330002,179.490005,176.990005,178.229996,176.5,170.199997,168.229996,166.880005,170.179993,170.699997,172.300003,165.220001,166.580002,168.570007,174.880005,173.33999599999999,176.75,177.350006,178.58999599999999,176.229996,173.91000400000001,175.360001,171.03999299999998,172.75,175.809998,179.639999,177.740005,177.880005,179.240005,182.119995,182.399994,183.199997,185.0,188.070007,188.279999,187.199997,187.649994,185.673996,184.5,185.600006,186.979996,186.71000700000002,183.699997,184.889999,186.779999,190.720001,195.0,200.979996,200.429993,198.669998,195.0,196.66000400000001,200.940002,202.0,203.429993,202.479996,204.800003,206.0,207.100006,209.149994,208.869995,210.05000299999998,211.36999500000002,213.979996,215.05000299999998,215.42999300000002,216.99000499999997,218.11000099999998,215.77999900000003,213.63999900000002,219.979996,218.20300299999997,217.16000400000001,218.940002,220.649994,223.080002,225.960007,231.13999900000002,230.17500299999998,227.82000699999998,226.330002,228.0,222.600006,225.580002,220.13000499999998,219.830002,208.020004,210.91000400000001,213.979996,209.86000099999998,207.929993,215.020004,224.38000499999998,226.69999700000002,223.649994,217.83999599999999,215.770004,220.00999500000003,225.520004], // I got it in reverse
			name: 'BABA',
			type: 'scatter',
			mode: 'lines'
		}
		data = [trace1];

		Plotly.plot('baba', data, {});
	}
	var jd = function() {
		var trace1 = {
			
			y: [38.23,38.77,38.77,38.310001,38.169998,38.09,37.240002000000004,36.900002,36.139998999999996,36.700001,37.110001000000004,37.400002,37.365002000000004,36.290001000000004,35.889998999999996,36.889998999999996,36.34,36.714001,36.110001000000004,36.700001,36.799999,36.622002,35.904999,35.66,34.59,32.560001,33.200001,32.445,33.279999,33.599998,32.849998,33.049999,31.656,32.805,32.990002000000004,32.389998999999996,31.82,31.459999,30.030001000000002,28.049999,27.934998999999998,27.41,26.85,27.4,27.76,29.02,28.030001000000002,26.184998999999998,26.09,27.110001,27.264999,27.35,25.530001000000002,24.84,25.860001,25.889999,26.23,26.26,25.4,25.440001000000002,24.85,24.25,24.24,24.200001,23.549999,23.66,24.9,24.639999,24.700001,24.610001,24.132,23.950001,24.110001,23.59,23.200001,22.59,22.93,23.02,22.469998999999998,23.59,25.76,25.6,24.459999,24.469998999999998,24.16,23.870001000000002,22.48,22.379998999999998,22.790001,23.08,24.27,24.0,22.83,20.5,20.690001000000002,19.879998999999998,20.783001000000002,21.028,21.41,21.15,21.26,22.49,22.26,21.49,21.754998999999998,21.190001000000002,21.34,22.315001000000002,23.35,22.940001000000002,22.26,21.837,21.485001,20.209999,21.99,21.51,21.129998999999998,22.059998999999998,22.0,22.48,21.48,21.139999,22.68,22.85,23.18,24.120001000000002,23.549999,23.75,22.299999,22.74,22.68,22.485001,23.85,22.91,22.6,22.26,23.93,24.139999,23.870001000000002,24.719998999999998,25.450001,25.309998999999998,24.540001,25.98,25.715,24.93,24.280001000000002,24.73,25.35,25.559998999999998,24.620001000000002,24.57,24.77,25.42,24.879998999999998,25.959999,27.379998999999998,26.82,26.9,28.620001000000002,29.389999,29.200001,29.700001,29.66,28.645,27.25,27.889999,28.43,28.42,27.969,28.709999,28.690001000000002,28.67,28.290001,28.82,28.76,28.549999,29.049999,29.709999,29.450001,30.530001000000002,31.625,31.200001,30.929001,30.66,31.57,31.18,31.32,30.84,30.35,31.190001000000002,30.663,30.530001000000002,30.639999,30.02,29.74,30.139999,29.9,29.5,29.280001000000002,29.98,30.889999,31.0,30.889999,30.879998999999998,28.93,28.5,27.440001000000002,27.77,30.469998999999998,28.450001,29.799999,30.76,30.889999,30.014999,28.969998999999998,29.275,29.040001,27.629998999999998,27.219998999999998,26.77,26.129998999999998,26.629998999999998,25.9,26.5,26.9,26.99,26.379998999999998,27.16,27.76,28.459999,27.49,27.870001000000002,27.120001000000002,27.495001000000002,28.879998999999998,28.879998999999998,29.799999,29.549999,29.27,28.715,30.325001,30.68,30.49,31.995001000000002,31.959999,31.540001,31.200001,30.665001,30.809998999999998,31.1,30.973,31.415001,31.67,31.1,31.08,30.6,31.290001,30.950001,31.92,32.330002,32.380001,32.005001,31.454,30.99,30.5,30.594998999999998,28.34,26.905001000000002,27.01,26.77,27.635,27.409,27.360001,30.98,30.702,30.790001,31.450001,32.279999,31.82,31.799999,30.709999,29.67,29.82,30.299999,30.49,31.24,31.43,30.200001,30.290001,31.08,31.396998999999997,31.57,31.24,31.719998999999998,31.99,31.790001,31.030001000000002,31.299999,31.18,32.0,31.690001000000002,31.469998999999998,30.48,30.059998999999998,30.25,30.01,28.636999,28.57,28.219998999999998,28.969998999999998,29.190001000000002,29.4,28.610001,28.6,28.950001,30.32,29.91,31.075001,31.450001,31.440001000000002,30.84,31.08,31.24,30.899,31.17,31.25,31.950001,31.799999,31.889999,31.799999,31.83,33.290001000000004,33.790001000000004,33.150002,33.761002000000005,33.450001,33.549999,34.09,33.599998,33.59,35.43,34.259997999999996,33.439999,32.32,32.169998,32.299999,32.755001,32.950001,33.18,32.959998999999996,32.689999,32.099998,32.485001000000004,32.650002,33.18,33.654999,33.720001,33.349998,34.195,34.740002000000004,34.919998,34.84,34.75,34.880001,35.52,36.799999,36.560001,36.369999,36.419998,36.0,35.509997999999996,37.759997999999996,38.540001000000004,38.080002,38.610001000000004,38.849998,39.099998,39.5,40.985001000000004,40.459998999999996,40.455002,40.27,40.384997999999996,40.16,42.0,40.830002,40.970001,38.84,39.115002000000004,39.52,38.689999,38.450001,39.536999,41.279999,40.959998999999996,40.970001,40.369999,40.16,41.855999,42.339901], // I got it in reverse
			name: 'JD',
			type: 'scatter',
			mode: 'lines'
		}
		data = [trace1];

		Plotly.plot('jd', data, {});
	}
	amzn();
	wmt();
	ebay();
	jd();
	baba();


</script>
{% endblock %}