{% extends "base.html" %}



{% block data %}
<div class="container">
	<h1>EPS</h1>
	<div id="eps" style="width: 100%"></div>
</div>
<div class="container">
	<h1>P/E Ratio</h1>
	<div id="pe-ratio" style="width: 100%"></div>
</div>
<div class="container">
	<h1>Current Ratio</h1>
	<div id="current-ratio" style="width: 100%"></div>
</div>
<div class="container">
	<h1>EBITDA</h1>
	<div id="ebitda" style="width: 100%"></div>
</div>
<div class="container">
	<h1>Debt-Equity Ratio</h1>
	<div id="de-ratio" style="width: 100%"></div>
</div>
{% endblock %}

{% block plotly_js %}
<script type="text/javascript">
	var eps = function() {
			var trace1 = {
				x: ['WALMART',	'EBAY',	'ALIBABA',	'AMAZON','JD.COM'],
				y: [5.05,1.42,1.56,1.25,-1.06],
				name: '2015',
				type: 'bar'
			};

			var trace2 = {
				x: ['WALMART',	'EBAY',	'ALIBABA',	'AMAZON','JD.COM'],
				y: [4.57,6.35,4.33,4.90,-0.40],
				name: '2016',
				type: 'bar'
			};
			var trace3 = {
				x: ['WALMART',	'EBAY',	'ALIBABA',	'AMAZON','JD.COM'],
				y: [4.38,-0.95,2.47,6.15,-0.02],
				name: '2017',
				type: 'bar'
			};

			var trace4 = {
				x: ['WALMART',	'EBAY',	'ALIBABA',	'AMAZON','JD.COM'],
				y: [3.28,2.55,3.91,20.14,-0.26],
				name: '2018',
				type: 'bar'
			};

			var trace5 = {
				x: ['WALMART',	'EBAY',	'ALIBABA',	'AMAZON','JD.COM'],
				y: [2.26,2.09,4.97,23.01, 0],
				name: '2019',
				type: 'bar'
			};

			var layout = {
				barmode: 'group'
			}

		data = [trace1, trace2, trace3, trace4, trace5];

		Plotly.plot('eps', data, layout);

	}

	var pe_ratio = function() {
			var trace1 = {
				x: ['WALMART',	'EBAY',	'ALIBABA',	'AMAZON','JD.COM'],
				y: [15.15,9.74,19.08,74.35,0.00],
				name: '2015',
				type: 'bar'
			};

			var trace2 = {
				x: ['WALMART',	'EBAY',	'ALIBABA',	'AMAZON','JD.COM'],
				y: [13.44,17.94,17.92,182.28,0.00],
				name: '2016',
				type: 'bar'
			};
			var trace3 = {
				x: ['WALMART',	'EBAY',	'ALIBABA',	'AMAZON','JD.COM'],
				y: [14.48,4.81,43.31,166.64,0.00],
				name: '2017',
				type: 'bar'
			};

			var trace4 = {
				x: ['WALMART',	'EBAY',	'ALIBABA',	'AMAZON','JD.COM'],
				y: [31.84,0.00,49.34,244.30,337.42],
				name: '2018',
				type: 'bar'
			};

			var trace5 = {
				x: ['WALMART',	'EBAY',	'ALIBABA',	'AMAZON','JD.COM'],
				y: [42.03,13.55,37.08,0.00,0	],
				name: '2019',
				type: 'bar'
			};

			var layout = {
				barmode: 'group'
			}

		data = [trace1, trace2, trace3, trace4, trace5];

		Plotly.plot('pe-ratio', data, layout);

	}

		var current_ratio = function() {
			var trace1 = {
				x: ['WALMART',	'EBAY',	'ALIBABA',	'AMAZON','JD.COM'],
				y: [0.97,3.49,3.58,1.12,1.5
],
				name: '2015',
				type: 'bar'
			};

			var trace2 = {
				x: ['WALMART',	'EBAY',	'ALIBABA',	'AMAZON','JD.COM'],
				y: [0.93,2.31,2.58,1.08,1.29
],
				name: '2016',
				type: 'bar'
			};
			var trace3 = {
				x: ['WALMART',	'EBAY',	'ALIBABA',	'AMAZON','JD.COM'],
				y: [0.86,2.18,1.95,1.06,1.06],
				name: '2017',
				type: 'bar'
			};

			var trace4 = {
				x: ['WALMART',	'EBAY',	'ALIBABA',	'AMAZON','JD.COM'],
				y: [31.84,0.00,49.34,244.30,337.42],
				name: '2018',
				type: 'bar'
			};

			var trace5 = {
				x: ['WALMART',	'EBAY',	'ALIBABA',	'AMAZON','JD.COM'],
				y: [0.76,1.6,1.89,1.06,1.06],
				name: '2019',
				type: 'bar'
			};

			var layout = {
				barmode: 'group'
			}

		data = [trace1, trace2, trace3, trace4, trace5];

		Plotly.plot('current-ratio', data, layout);

	}

	var ebitda = function() {
			var trace1 = {
				x: ['WALMART',	'EBAY',	'ALIBABA',	'AMAZON','JD.COM'],
				y: [36320 ,2884 ,4472 ,8514 ,-593],
				name: '2015',
				type: 'bar'
			};

			var trace2 = {
				x: ['WALMART',	'EBAY',	'ALIBABA',	'AMAZON','JD.COM'],
				y: [33559.00,3007.00,5623.00,12302.00,214.00
],
				name: '2016',
				type: 'bar'
			};
			var trace3 = {
				x: ['WALMART',	'EBAY',	'ALIBABA',	'AMAZON','JD.COM'],
				y: [32844,2940,9058,15584,516 ],
				name: '2017',
				type: 'bar'
			};

			var trace4 = {
				x: ['WALMART',	'EBAY',	'ALIBABA',	'AMAZON','JD.COM'],
				y: [32844.00,2940.00,9058.00,15584.00,516.00],
				name: '2018',
				type: 'bar'
			};

			var trace5 = {
				x: ['WALMART',	'EBAY',	'ALIBABA',	'AMAZON','JD.COM'],
				y: [32635.00,3002.00,14030.00,36330.00,0],
				name: '2019',
				type: 'bar'
			};

			var layout = {
				barmode: 'group'
			}

		data = [trace1, trace2, trace3, trace4, trace5];

		Plotly.plot('ebitda', data, layout);

	}


	var de_ratio = function() {
			var trace1 = {
				x: ['WALMART',	'EBAY',	'ALIBABA',	'AMAZON','JD.COM'],
				y: [0.76,0.35,0.32,0.76,0],
				name: '2015',
				type: 'bar'
			};

			var trace2 = {
				x: ['WALMART',	'EBAY',	'ALIBABA',	'AMAZON','JD.COM'],
				y: [0.56,1.43,0.21,0.56,0.13],
				name: '2016',
				type: 'bar'
			};
			var trace3 = {
				x: ['WALMART',	'EBAY',	'ALIBABA',	'AMAZON','JD.COM'],
				y: [0.36,0.58,0.24,0.36,0.38],
				name: '2017',
				type: 'bar'
			};

			var trace4 = {
				x: ['WALMART',	'EBAY',	'ALIBABA',	'AMAZON','JD.COM'],
				y: [0.78,1.21,0.27,0.78,0],
				name: '2018',
				type: 'bar'
			};

			var trace5 = {
				x: ['WALMART',	'EBAY',	'ALIBABA',	'AMAZON','JD.COM'],
				y: [0.48,1.59,0.18,0.48,0],
				name: '2019',
				type: 'bar'
			};

			var layout = {
				barmode: 'group'
			}

		data = [trace1, trace2, trace3, trace4, trace5];

		Plotly.plot('de-ratio', data, layout);
	}

	eps();
	pe_ratio();
	current_ratio();
	ebitda();
	de_ratio();


</script>
{% endblock %}